{extend name="admin/public/base"/}

{block name="style"}
<style>
	.list-header{
		background-color: #ffffff;
		padding-bottom: 24px;
	}
	.list-content{
		padding: 24px 24px 14px 24px;
	}
</style>
{/block}

{block name="content"}
<Layout>
	<Header class="list-header">
		{volist name="buttonList" id="button"}
			<{$button.tag} {$button.attr}>{$button.title|htmlspecialchars}</{$button.tag}>
		{/volist}
		<Modal v-model="modalEnable" class-name="vertical-center-modal" title="确认提示" :loading="setStatusloading" @on-ok="setEnableAsyncOK"><p>确认启用选中单位吗？</p></Modal>
		<Modal v-model="modalDisable" class-name="vertical-center-modal" title="确认提示" :loading="setStatusloading" @on-ok="setDisableAsyncOK"><p>确认禁用选中单位吗？</p></Modal>
	</Header>
	<Content class="list-content">
		<i-table :stripe="true" :columns="columns" :data="data"></i-table>
	    <div style="margin: 10px;overflow: hidden">
	        <div style="float: right;">
	            <Page :total="100" :current="1" :show-elevator="true" :show-sizer="true"></Page>
	        </div>
	    </div>		
	</Content>
</Layout>
{/block}

{block name="script"}
<script>
ealingBuilder = {
	data: {
		setStatusloading: true,
		modalEnable: false,
		modalDisable: false,
		columns: {$columns},
		data: {$list}
	},
	methods: {
		setEnableAsyncOK () {
            setTimeout(() => {
                this.modalEnable = false;
            }, 2000);
		},
		setDisableAsyncOK () {
            setTimeout(() => {
                this.modalDisable = false;
            }, 2000);
		}
	}
};
</script>
{/block}